# Build
bin/
obj/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS
.vs/

# Rider
.idea/

# ReSharper
_ReSharper*/
*.DotSettings.user

# Logs
*.log

# NuGet
*.nupkg
packages/

# Publish
publish/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Coverage
coverage/
TestResults/

# SQLite
*.db
*.db-shm
*.db-wal

# Secrets
appsettings.json
launchSettings.json